<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Semana 5</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="goToFinancialPage()">Consumir API</ion-button>
    <ion-button (click)="goToCameraPage()">Abrir Cámara</ion-button>
    <ion-button (click)="viewLocation()">Ver Ubicación en Maps</ion-button> 
  </div>
</ion-content>
